// Colors
$color-primary: #0078ff !default;
$color-primary-light: #cde1f8 !default;
$color-primary-dark: #0062d3 !default;

$color-secondary: #f5f5f5 !default;
$color-secondary-dark: #676767 !default;

$color-text-primary: #4e4e4e !default;
$color-text-secondary: #1e1e1e !default;
